
*{
    margin:0px;
    padding:0px;
}

body{
    background-color: cyan;
}

.contenedor{
    width: 500px;
    height: 800px;
    border: 1px solid white;   
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@keyframes titulo1{
    0%{
        scale: 0.7;
    }
    100%{
        scale: 1.5;
    }
}


@keyframes titulo{
    0%{
        stroke-dashoffset: 12000;
    }
    80%{
        fill: transparent;
    }
    100%{
        fill: #beb9b9;
        stroke-dashoffset: 0;
    }
}
.cielo{
    position: absolute;
    left:-200px;
    top:-150px;
    filter:blur(5px);
    animation: cielo 30s 1 forwards;
}
@keyframes cielo{
    from{
        scale:100%;
        filter:blur(5px);
    }
    to{
        scale:130%;
        filter:blur(0px);
    }
}

.montaña{
    position: absolute;
    left:-600px;
    animation: montaña 20s 1 forwards;
}
@keyframes montaña{
    from{
        top:0px;
        scale: 100%;
        filter:blur(3px);
    }
    to{
        top:-50px;
        scale: 105%;
        filter:blur(0px);
    }
}

.persona{
    position: absolute;
    width: 800px;
    left: -150px;
    top: 300px;
    animation: persona 10s 1 forwards;
}
@keyframes persona{
    from{
        scale: 100%;
    }
    to{
        scale: 110%;
    }
}
.neblina{
    position: absolute;
    width: 1000px;
    left: -500px;
    top: 450px;
    animation: neblina 10s infinite linear;
}

@keyframes neblina{
    from{
        left: -500px;
        opacity: 1;
    }
    to{
        left: 500px;
        opacity: 0;
    }
}


.neblina2{
    position: absolute;
    width: 1000px;
    left: 500px;
    top: 450px;
    animation: neblina2 10s infinite linear;
}

@keyframes neblina2{
    from{
        left: 500px;
        opacity: 1;
    }
    to{
        left: -500px;
        opacity: 0;
    }
}

.paloma{
    position: absolute;
    width: 100px;
    height: 100px;
    rotate: 20deg;
    left: -100px; /* más cerca */
    top: 50px;
    animation: paloma 5s infinite linear;
}

@keyframes paloma{
    from{
        left: -100px;
    }
    to{
        left: 600px; /* que salga por el otro lado */
    }
}
.svg-text{
    position: absolute;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 30px;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
    animation: criss 3s ease-in-out 1 forwards;
}
@keyframes criss{ 
    0%{
        stroke-dashoffset: 20000;
    }
    88%{
        fill: transparent;
    }
    100%{
        fill: rgb(255, 81, 1);
        stroke-dashoffset: 0; 
    }
}
.svg-text{
    position: absolute;
    top: -180px;
    left: -290px;
    z-index: 10;
     
}

 .volver{
    position:absolute;
    top:20px;
    left:20px;
    color:rgb(40, 17, 187);
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}
